.Border_1{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
  }


  .Border_2{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-color:blue;
    margin-top: 20px;
  }


  .Border_3{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border-style: solid;
    border-width: 3px;
    border-color:blue;
    border-radius: 10px;
    margin-top: 20px;
  }